#overview {

  .settlement-details {
    margin: 24px 0;
  }
  
  .transaction-details {
    display: flex;
  }

  // .transaction-details div {
  //   margin-right: 76px;
  // }

  .amount-details {
    display: flex;
  }

  // .amount-details div {
  //   margin-right: 56px;
  // }
}